

<div class="">
    <div class="full-page login-page" data-color="">

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                        <form novalidate="" class="ng-untouched ng-pristine ng-valid" (ngSubmit)="signup()" #signupForm="ngForm">
                            <div class="card login-card" data-background="color" data-color="blue">
                                <div class="card-header">

                                    <div class="alert {{error==''?'alert-success':'alert-warning'}}  alert-dismissible" role="alert" *ngIf="message !== ''">
{{error}}
                                        <button style="right: 3px;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                        {{message}}

                                    </div>
                                    <h3 class="card-title">Please sign up</h3>

                                </div>
                                <div class="card-content">
          
                                    <div class="form-group">
                                        <label>First name</label>
                                        <input  class="form-control input-no-border" placeholder="Enter first name" type="text" #firstname="ngModel" [(ngModel)]="signupData.firstname"
                                            name="firstname" required>
                                            
                                    </div>

                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input class="form-control input-no-border" placeholder="Last name" type="text" [(ngModel)]="signupData.lastname" name="lastname"
                                            required>
                                    </div>


                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-control form-control-sm" [(ngModel)]="signupData.country" name="country" required>   
                                            <option *ngFor="let c of countries; let i = index;" [value]="getValue(c)"> {{getName(c)}} </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' #email="ngModel" class="form-control input-no-border" placeholder="Enter email" type="email" [(ngModel)]="signupData.email" name="email"
                                            required>
                                            <span  *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                                    Must a valid email address.
                                            </span>
                                    </div>

                                    <div class="form-group">
                                            <label>Username</label>
                                            <input #username="ngModel" minlength="4" class="form-control input-no-border" placeholder="Enter username" type="text" [(ngModel)]="signupData.username" name="username"
                                                required>
                                                <span  *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                                                    Username must be at least 4 characters long.
                                            </span>
                                        </div>

                                    <div class="form-group">
                                        <label>Password</label>
                                        <input #password="ngModel" minlength="6" class="form-control input-no-border" placeholder="Password" type="password" [(ngModel)]="signupData.password" name="password"
                                            required>

                                            <span  *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                                    Password must be at least 6 characters long.
                                            </span>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                   
                                    <button  class="btn btn-fill btn-wd " type="submit" [disabled]="!signupForm.form.valid || processing">{{!processing?'Sign up':'Processing...'}}</button>
                                    <div class="forgot">

                                        <p> Have an account?
                                            <a [routerLink]="['/login']">Signin here</a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


