<!-- <div class="wrapper wrapper-full-page">
<div style="margin-top: 15%">

    <h2  class="text-center header-title">
        Home page for trunkey ico is coming soon.
        
        </h2>
        <h2  class="text-center header-title">
            Stay tuned....
            </h2>

</div>
  

</div> -->



<div class="container-full">
    
    <div class="row">
        
         <div class="col-lg-12 text-center v-center">
           
           <h1>Welcome to turnkey ICO!!</h1>
           <p class="lead">Well, home page is comming soon, stay tuned...</p>
           
           <br>
           
          
         </div>
         
       </div> 
   
         <div class="row">
        
         <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
           <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
         </div>
        
       </div>
       

         
    
    </div> 
   
        

    

    
