<footer class="footer">
    <!-- <div class="container-fluid">
            <div class="container">
                    <div class="copyright">
                        
                        <nav class="pull-right">
                            <ul>
                                <li>
                                    <a href="#">
                                     Powered by Turnkey ICO © 2018
                                    </a>
                                </li>
                               
                                <li>
                                    <a href="" data-toggle="modal" data-target="#termsModal">
                                       Terms
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                            Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Faq
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
        
    </div> -->

    <div class="container-fluid">
        <nav class="pull-left">
            <ul>               
               
                <li>
                    <a href="" data-toggle="modal" data-target="#termsModal">
                       Terms
                    </a>
                </li>
                <li>
                    <a href="">
                            Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="">
                        Faq
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            Powered by Turnkey ICO © 2018
        </div>
    </div>

</footer>


<!-- The Modal -->
<div class="modal" id="termsModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Terms of use</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
             
                   <p> We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services. You consent to our cookies if you continue to use our website.</p>
                   <p> We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services. You consent to our cookies if you continue to use our website.</p>


            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
